html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

h2 {
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 300;
}

h3 {
    font-size: 20px;
}

.slide {
    width: 1024px;
    height: 768px;
}

h2,
h3 {
    margin: 0;
    color: white;
}

.slides-container {
    width: 1024px;
    position: relative;
}

.slide-indicator {
    position: fixed;
    top: 330px;
    left: 996px;
    z-index: 999;

    &__elem {
        margin-top: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
    }

    &__elem-active {
        background-color: #f78b1f;
    }
}

.slide-1 {
    background: no-repeat left/100% url("../images/bg-slide1.png");
    position: relative;

    &__header,
    &__sub-head {
        color: #0d319c;
    }

    &__header {
        width: 70%;
        padding: 140px 190px 0 50px;
    }

    &__sub-head {
        position: absolute;
    }

    &__sub-head.sub-head-1 {
        top: 395px;
        left: 215px;
    }

    &__sub-head.sub-head-2 {
        top: 505px;
        left: 380px;
    }

    &__sub-head.sub-head-3 {
        top: 270px;
        left: 635px;
    }

    &__sub-head.sub-head-4 {
        top: 480px;
        left: 790px;
    }

    &__circle {
        width: 50px;
        height: 50px;
        border: 2px solid #f78b1f;
        border-radius: 50%;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

        .sub-cirle__first,
        .sub-cirle__second {
            width: 0;
            height: 0;
            border: 3px solid rgba(247, 139, 31);
            border-radius: 50%;
            background-color: rgba(247, 139, 31, 1);
            animation-name: curcle;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .sub-cirle__second {
            animation-delay: 1s;
        }
    }

    .circle-1 {
        top: 423px;
        left: 270px;
        width: 30px;
        height: 30px;
    }

    .circle-2 {
        top: 250px;
        left: 555px;
        width: 65px;
        height: 65px;
    }

    .circle-3,
    .circle-4 {
        width: 20px;
        height: 20px;
    }

    .circle-3 {
        top: 535px;
        left: 470px;
    }

    .circle-4 {
        top: 510px;
        left: 817px;
    }

    &__note {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: white;
        font-weight: 100;

        .lines {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
        }

        .line-1,
        .line-2 {
            width: 2px;
            height: 30px;
            background-color: white;
        }

        .line-1 {
            position: absolute;
            left: -10px;
            transform: rotate(-45deg);
        }

        .line-2 {
            left: 10px;
            position: absolute;
            transform: rotate(45deg);
        }
    }
}

@keyframes curcle {
    100% {
        width: 102%;
        height: 102%;
        background-color: rgba(247, 139, 31, 0.1);
    }
}

.slide-2 {
    background: no-repeat top/100% url("../images/bg-slide2.png");

    &__header {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        padding-top: 250px;
    }
}

.slide-3 {
    color: white;
    font-family: "Lato";
    line-height: 1.2;
    letter-spacing: 2px;
    overflow: hidden;
    // white-space: nowrap;
    display: flex;
    position: relative;
    scroll-behavior: smooth;

    .slide-changer {
        position: sticky;
        width: 0;
        height: 0;
        top: 0;
        left: calc((100% - 700px) / 2);
        transform: translateY(680px);
        z-index: 3;

        &_progress-bar {
            left: 0;
            top: 0;
            width: 700px;
            height: 15px;
            background-color: #d1eaff;
            position: absolute;
            pointer-events: none;
        }

        input {
            -webkit-appearance: none;
            width: 700px;
        }
        input:focus {
            outline: none;
        }
        input::-webkit-slider-runnable-track {
            width: 100%;
            height: 15px;
            cursor: pointer;
            background: rgba(54, 61, 95, 0.9);
            border-radius: 1.3px;
            border: 0.2px solid #010101;
        }
        input::-webkit-slider-thumb {
            background-image: url("../images/slide3/IceRock.png");
            width: 44px;
            height: 56px;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -20px;
        }
        input:focus::-webkit-slider-runnable-track {
            background: red;
        }

        &__text {
            display: flex;
            justify-content: space-between;
            width: 700px;
            font-size: 20px;

            p {
                padding-top: 15px;
                margin: 0;
            }
        }
    }

    .slide-3-1,
    .slide-3-2,
    .slide-3-3 {
        display: inline-block;
        flex: 0 0 1024px;
        width: 1024px;
        height: 768px;
        background: no-repeat top/100% url("../images/bg-slide3.png");
        position: relative;

        .background-effect {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.3;
            z-index: 0;
        }

        .text-border-container {
            font-size: 18px;
            border: 2px solid white;
            text-align: center;
            position: absolute;
        }

        .text-icons {
            &__item {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
            }

            &__number {
                font-size: 52px;
                line-height: 1.2;
                margin: 0;
            }

            &__text {
                font-size: 28px;
                margin: 0;
            }

            &__icon {
                width: 110px;
                height: 110px;
                background-color: #363d5f;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
            }

            &__icon img {
                max-width: 75%;
                height: auto;
            }
        }

        .text-icons__item {
            position: absolute;
        }

        .arrow {
            position: absolute;
        }
    }

    &__header {
        padding-top: 120px;
        padding-left: 50px;
        font-size: 28px;
        position: relative;
        z-index: 1;
    }

    .slide-3-1 {
        .arrow-1 {
            top: 350px;
            left: 300px;
        }

        .arrow-2 {
            top: 350px;
            left: 575px;
            transform: rotate(-100deg);
        }

        .arrow-3 {
            top: 385px;
            left: 50%;
        }

        .arrow-4 {
            top: 485px;
            left: 340px;
            transform: rotate(-90deg);
        }

        .arrow-5 {
            top: 485px;
            right: 340px;
            transform: rotate(90deg);
        }

        .text-border-container {
            width: 250px;
            top: 61%;
            left: calc(50% - 125px);
            padding: 15px 0;
        }

        .text-icons__item.item1 {
            top: 20%;
            left: calc(50% - 55px);

            img {
                max-width: 40%;
            }
        }

        .text-icons__item.item2 {
            top: 45%;
            left: 18%;
        }

        .text-icons__item.item3 {
            top: 45%;
            right: 18%;
        }
    }

    .slide-3-2 {
        $text-container-width: 430px;
        $text-container-height: 135px;

        background: no-repeat top/100% url("../images/bg-slide3-2.png");

        .text-border-container {
            width: $text-container-width;
            height: $text-container-height;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            top: calc(50% - #{$text-container-height} / 2);
            left: calc(50% - #{$text-container-width} / 2);
        }

        .text-icons__icon {
            width: 66px;
            height: 66px;
        }

        .text-icons__item {
            .text-icons__number,
            .text-icons__text {
                position: absolute;
            }

            .text-icons__number {
                font-size: 40px;
            }

            .text-icons__text {
                font-size: 20px;
            }
        }

        $top-position: 200px;
        $bottom-position: 210px;

        $arrow-top-position: calc(50% - #{$top-position} + 95px);
        $arrow-bottom-position: calc(50% - #{$bottom-position} + 95px);

        .arrow {
            height: 40px;
            width: 6px;
        }

        .arrow-1,
        .arrow-2,
        .arrow-3 {
            top: $arrow-top-position;
        }

        .arrow-5,
        .arrow-6,
        .arrow-7 {
            bottom: calc(#{$arrow-bottom-position} + 5px);
            transform: rotate(180deg);
        }

        .arrow-1,
        .arrow-6 {
            left: calc(50% - 3px);
        }
        .arrow-2,
        .arrow-7 {
            left: calc(50% - #{$text-container-width} / 2 + 40px);
        }
        .arrow-3,
        .arrow-5 {
            right: calc(50% - #{$text-container-width} / 2 + 40px);
        }

        .arrow-4 {
            top: 365px;
            right: 273px;
            transform: rotate(90deg);
        }

        .arrow-8 {
            top: 365px;
            left: 275px;
            transform: rotate(-90deg);
        }

        .item1 {
            top: $top-position;
            left: calc(50% - 33px);

            img {
                max-width: 60%;
                height: auto;
                margin-bottom: -10px;
            }

            .text-icons__number {
                top: -55px;
                left: calc(50% - 14px);
            }

            .text-icons__text {
                white-space: nowrap;
                top: -15px;
                left: calc(50% - 45px);
            }
        }

        .item2 {
            top: $top-position;
            left: calc(50% - #{$text-container-width} / 2 + 10px);

            .text-icons__number {
                top: 25px;
                left: calc(50% - 11px);
            }

            .text-icons__text {
                text-align: right;
                top: 25px;
                right: 75px;
            }
        }

        .item3 {
            top: $top-position;
            right: calc(50% - #{$text-container-width} / 2 + 10px);

            .text-icons__number {
                top: 25px;
                left: calc(50% - 11px);
            }

            .text-icons__text {
                white-space: nowrap;
                text-align: left;
                top: 25px;
                left: 80px;
            }
        }

        .item4 {
            top: 335px;
            right: 190px;

            .text-icons__number {
                top: 25px;
                left: 80px;
            }

            .text-icons__text {
                text-align: left;
                top: 75px;
                left: 80px;
            }
        }

        .item5 {
            bottom: $bottom-position;
            right: calc(50% - #{$text-container-width} / 2 + 10px);

            .text-icons__number {
                bottom: -45px;
                left: calc(50% - 11px);
            }

            .text-icons__text {
                bottom: -60px;
                left: calc(50% - 39px);
            }
        }

        .item6 {
            bottom: $bottom-position;
            left: calc(50% - 33px);

            .text-icons__number {
                bottom: -45px;
                left: calc(50% - 11px);
            }

            .text-icons__text {
                bottom: -60px;
                left: calc(50% - 37px);
            }
        }

        .item7 {
            bottom: $bottom-position;
            left: calc(50% - #{$text-container-width} / 2 + 10px);

            .text-icons__number {
                bottom: -45px;
                left: calc(50% - 11px);
            }

            .text-icons__text {
                text-align: center;
                bottom: -85px;
                left: calc(50% - 43px);
            }
        }

        .item8 {
            top: 335px;
            left: 193px;

            .text-icons__number {
                top: 25px;
                right: 80px;
            }

            .text-icons__text {
                text-align: right;
                top: 70px;
                right: 80px;
            }

            img {
                margin-left: -8px;
            }
        }
    }

    .slide-3-3 {
        background: no-repeat top/100% url("../images/bg-slide3-3.png");

        .text-icons__icon {
            width: 66px;
            height: 66px;
        }

        .text-container {
            position: absolute;
        }

        .text-icons__number,
        .text-icons__text {
            position: initial;
            width: 100%;
        }

        .text-icons__item {
            .text-icons__number {
                font-size: 40px;
            }

            .text-icons__text {
                font-size: 18px;
            }
        }

        $top-position: 200px;
        $bottom-position: 125px;

        .item1 {
            .text-icons__icon {
                width: 100px;
                height: 100px;
            }

            top: $top-position;
            left: calc(50%);
            transform: translateX(-50%);

            img {
                max-width: 40%;
                height: auto;
            }

            .text-icons__icon {
                margin: 0;
            }

            .text-container {
                bottom: 100%;
                white-space: nowrap;
            }

            .text-icons__number,
            .text-icons__text {
                display: inline;
            }

            .text-icons__text {
                font-size: 30px;
                white-space: nowrap;
            }
        }

        .item2,
        .item3 {
            top: calc(#{$top-position} + 150px);

            .text-container {
                white-space: nowrap;
            }
        }

        .item2 {
            right: calc(50% + 100px);

            .text-icons__number,
            .text-icons__text {
                text-align: right;
            }
        }

        .item3 {
            left: calc(50% + 100px);

            .text-icons__number,
            .text-icons__text {
                text-align: left;
            }
        }

        .item11 {
            bottom: $bottom-position;
            left: calc(50%);
            transform: translateX(-50%);

            .text-icons__number,
            .text-icons__text {
                text-align: right;
            }

            .text-container {
                top: 10px;
                right: 110%;
            }

            img {
                margin-left: -10px;
                margin-top: -10px;
            }
        }

        $left-position: 240px;

        .item8,
        .item9,
        .item10 {
            top: $top-position + 38px;
            left: $left-position;

            .text-container {
                right: 110%;
            }

            .text-icons__number,
            .text-icons__text {
                text-align: right;
            }
        }

        .item9 {
            top: $top-position + 138px;

            .text-container {
                white-space: nowrap;
            }
        }

        .item10 {
            top: $top-position + 268px;
        }

        $right-position: $left-position;

        .item7,
        .item6,
        .item5,
        .item4 {
            top: $top-position + 38px;
            right: $right-position;

            .text-container {
                top: 10px;
                left: 110%;
                white-space: nowrap;
            }

            .text-icons__number,
            .text-icons__text {
                text-align: left;
            }
        }

        .item6 {
            top: initial;
            bottom: calc(#{$bottom-position} + 170px);
        }

        .item5 {
            top: initial;
            bottom: calc(#{$bottom-position} + 85px);
        }

        .item4 {
            top: initial;
            bottom: $bottom-position;
        }

        .frame-grad {
            width: 250px;
            height: 300px;
            border-radius: 50px;
            position: absolute;
            top: calc(200px + 160px);
            right: calc(240px - 175px);
            background: linear-gradient(
                to bottom,
                rgba(41, 48, 103, 1) 0%,
                rgba(41, 48, 103, 0.32) 40%,
                rgba(41, 48, 103, 0.15) 60%,
                rgba(41, 48, 103, 0) 100%
            );
            text-align: center;
            padding-top: 10px;
            letter-spacing: normal;
        }

        .slide-3_text {
            &.text1,
            &.text2 {
                margin: 0;
            }

            &.text1 {
                font-size: 15px;
                position: absolute;
                bottom: calc(#{$bottom-position} + 175px);
                left: calc(50% + 25px);
            }

            &.text2 {
                font-size: 30px;
                position: absolute;
                bottom: calc(#{$bottom-position} + 110px);
                left: calc(50%);
                transform: translateX(-50%);
            }

            &.text3 {
                font-size: 15px;
                position: absolute;
                bottom: calc(#{$bottom-position} + 170px);
                left: $left-position;
            }
        }

        @mixin arrow-triangle($position: bottom, $pos_value: -10px, $rotate_angle: -3deg) {
            content: "";
            border: 3px solid transparent;
            border-top: 9px solid white;
            position: absolute;
            #{$position}: $pos_value;
            left: -2px;
            transform: rotate($rotate_angle);
        }

        @mixin arrow($arrow-length, $arrow-top, $arrow-left, $rotate_angle) {
            height: $arrow-length;
            width: 2px;
            background-color: white;
            top: $arrow-top;
            left: $arrow-left;
            transform: rotate($rotate_angle);
        }

        .arrow-1 {
            @include arrow(
                110px,
                calc(#{$top-position} + 9px),
                calc(#{$left-position} + 138px),
                80deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-2 {
            @include arrow(
                110px,
                calc(#{$top-position} + 19px),
                calc(#{$left-position} + 138px),
                -100deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-3 {
            @include arrow(
                110px,
                calc(#{$top-position} + 9px),
                calc(#{$left-position} + 400px),
                -80deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-4 {
            @include arrow(
                110px,
                calc(#{$top-position} + 19px),
                calc(#{$left-position} + 400px),
                100deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-5 {
            @include arrow(
                160px,
                calc(#{$top-position} + 40px),
                calc(#{$left-position} + 145px),
                60deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-6 {
            @include arrow(
                160px,
                calc(#{$top-position} + 50px),
                calc(#{$left-position} + 145px),
                -120deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-7 {
            @include arrow(
                160px,
                calc(#{$top-position} + 35px),
                calc(#{$left-position} + 400px),
                -67deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-8 {
            @include arrow(
                160px,
                calc(#{$top-position} + 45px),
                calc(#{$left-position} + 400px),
                113deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-9 {
            @include arrow(
                232px,
                calc(#{$top-position} + 49px),
                calc(#{$left-position} + 139px),
                53deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-10 {
            @include arrow(15px, calc(#{$top-position} + 260px), calc(#{$left-position} + 33px), 0);

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-11 {
            @include arrow(
                90px,
                calc(#{$top-position} + 242px),
                calc(#{$left-position} + 96px),
                -68deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-12 {
            @include arrow(
                60px,
                calc(#{$top-position} + 290px),
                calc(#{$left-position} + 107px),
                -90deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-13 {
            @include arrow(50px, calc(#{$top-position} + 97px), calc(#{$left-position} + 240px), 0);

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-14 {
            @include arrow(50px, calc(#{$top-position} + 97px), calc(#{$left-position} + 300px), 0);

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-15 {
            @include arrow(
                190px,
                calc(#{$top-position} + 104px),
                calc(#{$left-position} + 270px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-16 {
            @include arrow(
                50px,
                calc(#{$top-position} + 244px),
                calc(#{$left-position} + 240px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-17 {
            @include arrow(
                15px,
                calc(#{$top-position} + 225px),
                calc(#{$left-position} + 300px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-18 {
            @include arrow(
                20px,
                calc(#{$top-position} + 275px),
                calc(#{$left-position} + 300px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-19 {
            @include arrow(
                20px,
                calc(#{$top-position} + 348px),
                calc(#{$left-position} + 255px),
                180deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-20 {
            @include arrow(
                20px,
                calc(#{$top-position} + 343px),
                calc(#{$left-position} + 283px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-21 {
            @include arrow(
                20px,
                calc(#{$top-position} + 130px),
                calc(#{$left-position} + 553px),
                180deg
            );

            &::after {
                @include arrow-triangle;
            }
        }

        .arrow-22 {
            @include arrow(
                20px,
                calc(#{$top-position} + 125px),
                calc(#{$left-position} + 563px),
                0
            );

            &::after {
                @include arrow-triangle;
            }
        }
    }
}
